/* change the background color */
.navbar-custom {
  background-color: #0f0c11;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(7, 44, 207);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(29, 173, 48, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #090f06;
}
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #1e14af;
}

div.row:nth-child(4) {
  padding-left: 30px;
}

.container-fluid > a:nth-child(1) {
  /* margin-left: 5px; */
  /* margin-left: 1px; */
  margin-left: 100px;
  padding-bottom: 0.3125rem;
}

/* Elemento | http://localhost:3000/ */

.navbar-nav > a:nth-child(1) {
  /* margin-left: 1px; */

  margin-right: 100px;
}
#form1 {
  margin-left: 0px;
  padding-left: 0.75rem;
  padding-bottom: 1.375rem;
  padding-right: 47rem;
}
